.popup__header {
    margin: 0;
    Font-size: 24px;
    Line-height: 29px;
    font-weight: 900;
    padding-bottom: 54px;
}

@media(max-width:581px) {
    .popup__header {
        Font-size: 18px;
        Line-height: 22px;
        padding-bottom: 75px;
    }
}