.profile__position {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}

@media(max-width:930px) {
    .profile__position {
        font-size: 14px;
        line-height: 17px;
    }
}