.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    column-gap: 18px;
    row-gap: 16px;
    align-items: baseline;
    margin: auto 0;
    padding-left: 30px;
    border: none;
}

@media(max-width:930px) {
    .profile__info {
        padding-bottom: 36px;
        padding-top: 22px;
        text-align: center;
        row-gap: 14px;
    }
}